body {
    font-family: Arial, sans-serif;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    height: 97vh;
    color: white;
}

.container {
    margin-left: 100px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.register-box {
    width: 300px;
    padding: 30px;
}

.register-box h1 {
    text-align: center;
    margin: 0 0 50px;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox input {
    width: 93%;
    padding: 10px 15px;
    background: #E8F0FE;
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    height: 23px;
}

.btn {
    width: 30%;
    background: #e50914;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    margin-left: 100px;
    margin-top: 30px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #e50914;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.alert-danger {
    text-align: center;
    margin: -20px 0 30px 0;
    color: #e50914;
}

.error {
    color: #e50914;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}